<div class="row ml-2 mr-2">
  <div class="col-12 mt-5 mb-3 mb-md-5 text-center">
    <h3>{{ 'Whatpage.Title' | translate }} <span class="font-weight-bold">{{ 'Title' | translate }}</span>?</h3>
  </div>
  <div class="col-md-6 mb-5">
    <h5 class=""><span class="badge badge-primary mb-1">{{ 'Whatpage.ConceptTitle' | translate }}</span></h5>
    <h5>{{ 'Whatpage.ConceptSubtitle' | translate }}</h5>
    <div class="font-weight-bold">{{ 'Whatpage.ConceptExploreTitle' | translate }}</div>
    <div class="mb-1">{{ 'Whatpage.ConceptExploreDescription' | translate }}</div>
    <div class="font-weight-bold">{{ 'Whatpage.ConceptWayTitle' | translate }}</div>
    <div class="">{{ 'Whatpage.ConceptWayDescription' | translate }}</div>

  </div>
  <div class="col-md-6 mb-5 graph-off">
    <div class="map">
      <div class="rectangule-1 shadow mb-4 mr-3"></div>
      <i class="target text-primary fas fa-map-marker-alt fa-2x"></i>
      <div class="rectangule-2 shadow mb-4 mr-3"></div>
      <div class="square shadow mr-4"></div>
      <div id="square-bottom" class="square shadow mr-4"></div>
      <div class="square shadow"></div>
      <i class="origin1 text-primary fas fa-map-marker-alt fa-2x"></i>
      <div id="rectangule-bottom" class="shadow mt-4"></div>
      <i class="origin2 text-primary fas fa-map-marker-alt fa-2x"></i>
    </div>
  </div>
</div>
<div class="row ml-2 mr-2">
  <div class="col-12 mb-4">
    <h5 class="mt-4"><span class="badge badge-danger mb-1">{{ 'Whatpage.ProjectTitle' | translate }}</span></h5>
    <h5>{{ 'Whatpage.ProjectSubtitle' | translate }}</h5>
    <div class="mb-1">{{ 'Whatpage.ProjectInvestigateDescription' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="fas fa-star fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Top' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-danger fas fa-monument fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Monuments' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-warning fas fa-utensils fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Food' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-success fas fa-leaf fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Nature' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-secondary fas fa-shapes fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Curiosities' | translate }}</div>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-primary fas fa-camera fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Photography' | translate }}</div>
  </div>
  <div class="d-none d-md-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="text-info fas fa-palette fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Arts' | translate }}</div>
  </div>
  <div class="d-none d-md-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="color-darkGreen fas fa-tree fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Parks' | translate }}</div>
  </div>
  <div class="d-none d-lg-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="color-pink fas fa-shopping-bag fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Shopping' | translate }}</div>
  </div>
  <div class="d-none d-lg-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="color-darkBlue fas fa-dumbbell fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Sports' | translate }}</div>
  </div>
  <div class="d-none d-lg-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="color-orange fas fa-building fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Architecture' | translate }}</div>
  </div>
  <div class="d-none d-lg-inline col-6 col-sm-4 col-md-3 col-lg-2 mb-4 text-center">
    <i class="color-brown fas fa-film fa-lg p-4 shadow mb-2"></i>
    <div class="text-center">{{ 'Whatpage.Cinema' | translate }}</div>
  </div>
  <div class="d-lg-none col-4"></div>
  <div class="d-lg-none col-4 text-center badge badge-dark p-2">And more ...</div>
  <div class="d-lg-none col-4"></div>
</div>
