.map {
  height: 250px;
  width: 270px;
  margin: auto;
}

.square {
height: 70px;
width: 65px;
display: inline-block;
}
#square-bottom {
width: 92px;
height: 70px;
display: inline-block;
}
.rectangule-1 {
width: 141px;
height: 60px;
display: inline-block;
}
.rectangule-2 {
  width: 66px;
  height: 60px;
  display: inline-block;
  left: 24px;
  position: relative;
  }
#rectangule-bottom {
width: 136px;
height: 60px;
display: inline-block;
left: 45px;
position: relative;
}
.origin1 {
top: -18px;
left: 20px;
position: relative;
}
.origin2 {
  top: -18px;
  left: 72px;
  position: relative;
  }
.target {
top: -40px;
left: 6px;
position: relative;
}
