<div class="section-footer footer-text rounded mt-5 mb-5">
    <div class="row ml-2 mr-2">
      <div class="col-12 mt-4">
          <div class="d-inline">{{ 'Closepage.SelectLanguage' | translate }}</div>
          <a class="badge badge-light ml-2 mr-2 mt-1" (click)="switchLanguage('en')">{{ 'Closepage.English' | translate }}</a>
          <a class="badge badge-light ml-2 mr-2 mt-1" (click)="switchLanguage('es')">{{ 'Closepage.Spanish' | translate }}</a>
      </div>
    </div>

  <div class="row ml-2 mr-2">
    <div class="col-6 col-md-3 mt-4">
      <div class="font-weight-bold mb-2">{{ 'Closepage.Worlding' | translate }}</div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.AboutUs' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.OurTeam' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Contact' | translate }}</a></div>
    </div>
    <div class="col-6 col-md-3 mt-4">
      <div class="font-weight-bold mb-2">{{ 'Closepage.Project' | translate }}</div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Blog' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Website' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Vision' | translate }}</a></div>
    </div>
    <div class="col-6 col-md-3 mt-4">
      <div class="font-weight-bold mb-2">{{ 'Closepage.Help' | translate }}</div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.FAQ' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Tweet' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Discover' | translate }}</a></div>
    </div>
    <div class="col-6 col-md-3 mt-4">
      <div class="font-weight-bold mb-2">{{ 'Closepage.Colaborate' | translate }}</div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Integrate' | translate }}</a></div>
      <div class="mb-1"><a routerLink="/construction">{{ 'Closepage.Careers' | translate }}</a></div>
    </div>
    <div class="col-12 text-center mt-3">
      <div class="mb-2">Copyright ©{{ copyrightYear }} {{ 'Title' | translate }}</div>
      <div>
        <a routerLink="/construction" class="badge badge-light">{{ 'Closepage.Privacy' | translate }}</a> - <a routerLink="/construction" class="badge badge-light">{{ 'Closepage.Terms' | translate }}</a> - <a routerLink="/construction"
          class="badge badge-light">{{ 'Closepage.Security' | translate }}</a>
      </div>
    </div>
    <div class="col-12 text-center mt-3 mb-5">
      <span class="ml-2 mr-2">{{ 'Closepage.Follow' | translate }}</span>
      <i class="fab fa-twitter ml-2 mr-2"></i>
      <i class="fab fa-instagram ml-2 mr-2"></i>
      <i class="fab fa-youtube ml-2 mr-2"></i>
      <span class="ml-2 mr-2">{{ 'Closepage.SocialName' | translate }}</span>
    </div>
  </div>
</div>
