<div class="section-front rounded">
  <div class="row front-top">
    <div class="col-12 text-center mb-5">
      <div class="mb-3 mb-md-4">
        <h2>{{ 'Claim1' | translate }}</h2>
      </div>
      <div class="d-none d-lg-inline">
        <h2 class="mb-4">
          <span class="p-2 badge badge-primary ml-2 mr-2">{{ 'Madrid' | translate }}</span>
          <span class="p-2 badge badge-success ml-2 mr-2">{{ 'Barcelona' | translate }}</span>
          <span class="p-2 badge badge-danger ml-2 mr-2">{{ 'Paris' | translate }}</span>
          <span class="p-2 badge badge-warning ml-2 mr-2">{{ 'London' | translate }}</span>
          <span class="p-2 badge badge-secondary ml-2 mr-2">{{ 'Rome' | translate }}</span>
          <span class="p-2 badge badge-info ml-2 mr-2">{{ 'Berlin' | translate }}</span>
        </h2>
      </div>
      <div class="row">
        <div class="d-lg-none col-lg-6 mb-1">
          <h2>
            <span class="p-2 badge badge-primary font-front-city ml-2 mr-2">{{ 'Madrid' | translate }}</span>
            <span class="p-2 badge badge-success font-front-city ml-2 mr-2">{{ 'Barcelona' | translate }}</span>
            <span class="p-2 badge badge-danger font-front-city ml-2 mr-2">{{ 'Paris' | translate }}</span>
          </h2>
        </div>
        <div class="d-lg-none col-lg-6 mb-2">
          <h2>
            <span class="p-2 badge badge-warning font-front-city ml-2 mr-2">{{ 'London' | translate }}</span>
            <span class="p-2 badge badge-secondary font-front-city ml-2 mr-2">{{ 'Rome' | translate }}</span>
            <span class="p-2 badge badge-info font-front-city ml-2 mr-2">{{ 'Berlin' | translate }}</span>
          </h2>
        </div>
      </div>
      <div class="d-none d-sm-inline">
        <h2 class="mb-5">{{ 'Claim21' | translate }} <i class="fas fa-mobile-alt ml-1 mr-1"></i> {{ 'Claim22' |
          translate }} <i class="fas fa-headphones-alt ml-1 mr-1"></i></h2>
      </div>
      <div class="row">
        <div class="d-sm-none col-lg-6 mb-2">
          <h2>{{ 'ClaimSm21' | translate }}</h2>
        </div>
        <div class="d-sm-none col-lg-6 mb-4">
          <h2>{{ 'ClaimSm22' | translate }} <i class="fas fa-mobile-alt ml-1 mr-1"></i> {{ 'ClaimSm23' | translate }}
            <i class="fas fa-headphones-alt ml-1 mr-1"></i></h2>
        </div>
      </div>
      <div class="">
        <a routerLink="/join" class="btn p-3 shadow font-weight-bold white-hover" (click)="analytics('introButton')">{{'SignUpButton' | translate }}</a>
      </div>
    </div>
    <div class="col-12 text-center">
      <div class="mb-2">
        {{ 'Download' | translate }}
      </div>
      <div class="mb-3">
        <h5 class="font-front-shop">
          <a href="#" class="p-2 badge badge-light font-weight-400 ml-2 mr-2"><i class="fab fa-apple mr-2"></i>Apple
            Store</a>
          <a href="#" class="p-2 badge badge-success font-weight-400 ml-2 mr-2"><i class="fab fa-android mr-2"></i>Google
            Play</a>
        </h5>
      </div>
    </div>

  </div>
</div>
