.skills-square {
  width: 300px;
  height: 420px;
  position: relative;
  margin: auto;
}
.skills-title {
  position: relative;
  z-index: 1;
  top: 190px;
  text-align: center;
}

@media (min-width: 992px) {
  .skills-square{
    width: 420px;
  }
 }

 @media (max-width: 321px) {
   .graph-off{
     display: none;
   }
  }
