<div class="row ml-2 mr-2">
  <div class="col-12 mt-5 mb-3 mb-md-5 text-center">
    <h3>{{ 'Colaboratepage.Title' | translate }} <span class="font-weight-bold">{{ 'Title' | translate }}</span>?</h3>
  </div>
  <div class="col-lg-6 mb-3 mb-lg-5">
    <h5 class=""><span class="badge badge-info mb-1">{{ 'Colaboratepage.DonationTitle' | translate }}</span></h5>
    <h5>{{ 'Colaboratepage.DonationSubtitle' | translate }}</h5>
    <div class="font-weight-bold mb-2">{{ 'Colaboratepage.DonationInfoTitle' | translate }}</div>
    <div class="mb-2">{{ 'Colaboratepage.DonationInfoIntegrate' | translate }}</div>
    <div class="mb-2">{{ 'Colaboratepage.DonationInfoHire' | translate }}</div>
    <div class="mb-4">{{ 'Colaboratepage.DonationInfoGet' | translate }}</div>
  </div>
  <div class="col-lg-6 mb-5">
    <div class="mt-lg-4 mb-2 text-center">{{ 'Colaboratepage.DonationThanks' | translate }}</div>
    <ngx-paypal class="text-center mt-lg-3" [config]="payPalConfig"></ngx-paypal>
  </div>
</div>

<div class="row ml-2 mr-2">
  <div class="order-lg-1 col-lg-6 mb-3 mb-lg-5">
    <h5 class=""><span class="badge badge-light mb-1">{{ 'Colaboratepage.CareerTitle' | translate }}</span></h5>
    <h5>{{ 'Colaboratepage.CareerSubtitle' | translate }}</h5>
    <div class="font-weight-bold">{{ 'Colaboratepage.CareerBusinessTitle' | translate }}</div>
    <div class="mb-2">{{ 'Colaboratepage.CareerBusinessDescription' | translate }}</div>
    <div class="font-weight-bold">{{ 'Colaboratepage.CareerTechnicalTitle' | translate }}</div>
    <div class="mb-2">{{ 'Colaboratepage.CareerTechnicalDescription' | translate }}</div>
    <div class="font-weight-bold">{{ 'Colaboratepage.CareerCreativeTitle' | translate }}</div>
    <div class="mb-2">{{ 'Colaboratepage.CareerCreativeDescription' | translate }}</div>
    <div class="font-weight-bold">{{ 'Colaboratepage.CareerMarketingTitle' | translate }}</div>
    <div class="mb-4">{{ 'Colaboratepage.CareerMarketingDescription' | translate }}</div>
    <div class="mb-2 text-center">{{ 'Colaboratepage.CareerContact' | translate }} <i class='fab fa-twitter text-primary ml-1'></i>,
      <i class='fab fa-instagram text-warning ml-1'></i> {{ 'Colaboratepage.CareerContactOr' | translate }} <i class="fas fa-at ml-1"></i></div>
    <button routerLink="/contact" class="w-100 btn p-3 shadow font-weight-bold white-hover mb-3">{{ 'Colaboratepage.CareerContactUs' |
      translate }}</button>
  </div>
  <div class="d-xs-none order-lg-0 col-lg-6 mb-lg-5 graph-off">
    <div class="skills-title">{{ 'Everybody' | translate }}<br><span class="font-weight-bold">{{ 'Title' | translate }}</span></div>
    <div class="skills-square">
      <div class="row mb-5">
        <div class="col text-center text-primary"><i class="fas fa-bullseye fa-3x"></i></div>
        <div class="col text-center text-success"><i class="fas fa-chart-line fa-3x"></i></div>
        <div class="col text-center text-success"><i class="fas fa-calendar-alt fa-3x"></i></div>
        <div class="col text-center text-success"><i class="fas fa-handshake fa-3x"></i></div>
      </div>
      <div class="row mb-5">
        <div class="col text-center text-primary"><i class="fas fa-ad fa-3x"></i></div>
        <div class="col text-center"></div>
        <div class="col text-center"></div>
        <div class="col text-center text-warning"><i class="fas fa-code fa-3x"></i></div>
      </div>
      <div class="row mb-5">
        <div class="col text-center text-primary"><i class="fas fa-bullhorn fa-3x"></i></div>
        <div class="col text-center"></div>
        <div class="col text-center"></div>
        <div class="col text-center text-warning"><i class="fas fa-database fa-3x"></i></div>
      </div>
      <div class="row mb-5">
        <div class="col text-center text-danger"><i class="fas fa-image fa-3x"></i></div>
        <div class="col text-center text-danger"><i class="fas fa-lightbulb fa-3x"></i></div>
        <div class="col text-center text-danger"><i class="fas fa-edit fa-3x"></i></div>
        <div class="col text-center text-warning"><i class="fas fa-code-branch fa-3x"></i></div>
      </div>
    </div>
  </div>
</div>
