<div class="row ml-2 mr-2">
    <div class="col-12 mt-5 mb-3 mb-md-5 text-center">
      <h3>{{ "Wherepage.Title" | translate }} <span class="font-weight-bold">{{ "Title" | translate }}</span>?</h3>
    </div>
    <div class="col-12 mb-5">
      <h5 class=""><span class="badge badge-success mb-1">{{ "Wherepage.ConceptTitle" | translate }}</span></h5>
      <h5>{{ "Wherepage.ConceptSubtitle" | translate }}</h5>
      <div class="mb-3">{{ "Wherepage.ConceptInfoTitle" | translate }}</div>
      <div class="accordion" id="accordionExample">
        <div class="row mb-3">
          <div class="order-0 col-sm-6 order-sm-0 col-lg-3 order-lg-0">
            <button class="btn text-primary city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseMadrid"
              aria-expanded="false" aria-controls="collapseMadrid">
              <h2 class="font-weight-bold">{{ "Madrid" | translate }}</h2>
              <div><span class="badge badge-primary">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="order-2 col-sm-6 order-sm-0 col-lg-3 order-lg-0">
            <button class="btn text-success city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseBarcelona"
              aria-expanded="false" aria-controls="collapseBarcelona">
              <h2 class="font-weight-bold">{{ "Barcelona" | translate }}</h2>
              <div><span class="badge badge-success">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="order-4 col-sm-6 order-sm-2 col-lg-3 order-lg-0">
            <button class="btn text-danger city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseParis"
              aria-expanded="false" aria-controls="collapseParis">
              <h2 class="font-weight-bold">{{ "Paris" | translate }}</h2>
              <div><span class="badge badge-danger">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="order-6 col-sm-6 order-sm-2 col-lg-3 order-lg-0">
            <button class="btn text-warning city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseLondon"
              aria-expanded="false" aria-controls="collapseLondon">
              <h2 class="font-weight-bold">{{ "London" | translate }}</h2>
              <div><span class="badge badge-warning">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="col-12 order-1 order-sm-1 order-lg-1">
            <div id="collapseMadrid" class="collapse" aria-labelledby="headingMadrid" data-parent="#accordionExample">
              <div class="">
                Madrid info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
          <div class="col-12 order-3 order-sm-1 order-lg-1">
            <div id="collapseBarcelona" class="collapse" aria-labelledby="headingBarcelona" data-parent="#accordionExample">
              <div class="">
                Barcelona info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
          <div class="col-12 order-5 order-sm-3 order-lg-1">
            <div id="collapseParis" class="collapse" aria-labelledby="headingParis" data-parent="#accordionExample">
              <div class="">
                Paris info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
          <div class="col-12 order-7 order-sm-3 order-lg-1">
            <div id="collapseLondon" class="collapse" aria-labelledby="headingLondon" data-parent="#accordionExample">
              <div class="">
                London info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="order-0 col-sm-6 order-sm-0 col-lg-3 order-lg-0">
            <button class="btn text-secondary city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseRome"
              aria-expanded="false" aria-controls="collapseRome">
              <h2 class="font-weight-bold">{{ "Rome" | translate }}</h2>
              <div><span class="badge badge-secondary">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="order-2 col-sm-6 order-sm-0 col-lg-3 order-lg-0">
            <button class="btn text-info city collapsed mb-3" type="button" data-toggle="collapse" data-target="#collapseBerlin"
              aria-expanded="false" aria-controls="collapseBerlin">
              <h2 class="font-weight-bold">{{ "Berlin" | translate }}</h2>
              <div><span class="badge badge-info">3 {{ "Wherepage.ConceptRoutes" | translate }}</span></div>
            </button>
          </div>
          <div class="order-4 col-sm-6 order-sm-2 col-lg-3 order-lg-0">
            <button class="btn collapsed city disabled mb-3" type="button">
              <h2 class="font-weight-bold">{{ "Amsterdam" | translate }}</h2>
              <div><span class="badge">Coming soon!</span></div>
            </button></div>
          <div class="order-6 col-sm-6 order-sm-2 col-lg-3 order-lg-0"><button class="btn collapsed city disabled" type="button">
              <h2 class="font-weight-bold">{{ "Prague" | translate }}</h2>
              <div><span class="badge">Coming soon!</span></div>
            </button></div>
          <div class="col-12 order-1 order-sm-1 order-lg-1">
            <div id="collapseRome" class="collapse" aria-labelledby="headingRome" data-parent="#accordionExample">
              <div class="">
                Roma info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
          <div class="col-12 order-3 order-sm-1 order-lg-1">
            <div id="collapseBerlin" class="collapse" aria-labelledby="headingBerlin" data-parent="#accordionExample">
              <div class="">
                Berlin info Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-6 col-lg-3">
            <button class="btn collapsed city disabled mb-3" type="button">
              <h2 class="font-weight-bold">{{ "Vienna" | translate }}</h2>
              <div><span class="badge">Coming soon!</span></div>
            </button>
          </div>
          <div class="col-sm-6 col-lg-3"></div>
          <div class="col-sm-6 col-lg-3"></div>
          <div class="col-sm-6 col-lg-3"></div>
        </div>
      </div>
    </div>
  </div>

